.card__container {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	background-color: #08060e;
}

.wave-svg {
	margin-top: -5rem;
}

.card__content-container {
	background-color: #08060e;
	display: flex;
	flex-direction: column;
	padding: 0 1rem 2rem 1rem;
	color: #fff;
	margin: auto;
	margin-top: -1.5rem;
	z-index: 9999;
}

.powerstat-icon {
	width: 1.5rem;
	height: 1.5rem;
}

.icon__container {
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2b2442;
	border-radius: 50%;
}

.icons__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	grid-auto-rows: minmax(10px, auto);
	margin-bottom: 2rem;
}

.powerstat-value {
	font-size: 1.2rem;
	margin: 0;
	padding: 0;
	margin-left: 8px;
}

.btn-icon {
	background-color: none;
	width: 1.1rem;
	margin: 0;
}

.btn {
	border: none;
	background: none;
	color: #fff;
	padding: 0;
	height: 2rem;
	background-color: #7f5af0;
	border-radius: 7px;
}

.gap {
	gap: 10px;
}

.hero-name {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	margin: 0;
	margin-bottom: 1rem;
}
