.hero-name__card {
	text-align: center;
	font-weight: bold;
	margin: 0;
	margin-bottom: 1rem;
	font-size: 1.2rem;
}

.content__container {
	background-color: #08060e;
	display: flex;
	flex-direction: column;
	padding: 0 1rem 2rem 1rem;
	color: #fff;
	margin: auto;
	margin-top: -1.5rem;
	z-index: 1;
}

.wave-svg {
	margin-top: -5rem;
}

.card__container {
	display: flex;
	flex-direction: column;
	background-color: #08060e;
	min-width: 100%;
	border-radius: 20px;
}

.card__content-container {
	background-color: #08060e;
	display: flex;
	flex-direction: column;
	padding: 0 1rem 2rem 1rem;
	color: #fff;
	margin: auto;
	margin-top: -1.5rem;
	z-index: 1;
}

.card__image {
	width: 100%;
	max-height: 20rem;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}
